.hdr { 
    height: 10vh;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    background-color: lightgray;
    margin-bottom:1em
}

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 38vw;
        height: 20vh;
        margin-bottom:1em
    }
            
.A{
  background-color: rosybrown;
  flex: 0 1 150px;
  margin-right: 5px
  padding: 5px
}
.B {
    background-color: lightblue;
    flex: 0 1 400px;
    margin-right: 5px
    padding: 5px

}
.C {
    background-color: lightgreen;
    flex: 0 1 150px;
    margin-right: 5px
    padding: 5px

}